
.title__container {
  position: absolute;
  width: 98vw;
  /* height: 21vh; */
  margin-left: 1vw;
  padding-top: 1vh;
  bottom: 0vh;
  z-index: 20;
}

.title__container.scrolled {
  position: fixed;
  width: 98vw;
  height: 21vh;
  margin-left: 1vw;
  top: 0vh;
  z-index: 11;
}

 div.sticker-box_project_page {
   display: none;
 }

 header.header {
   height: 40px;
 }

 @media (max-width: 700px) {
   .title__container {
     display: none;
   }

 }

 /* div#cursorText {
  font-family: "Untitled-sans";
  color: white;
  font-size: 190px;
  display: inline;
  position: fixed;
  margin-left: -45px;
  z-index: 500;
  text-align: center;
  pointer-events: none;
}

div#mobileText {
 font-family: "Untitled-sans";
 color: white;
 font-size: 190px;
 display: inline;
 position: fixed;
 bottom: 5px;
 left: 10px;
  z-index: 500;
  display: none;
} */
